html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  display: grid;
  align-content: start;
  margin: 0;
  padding: 0;
  height: 100vh;
  grid-template-columns: minmax(250px, 1fr) minmax(500px, 7fr);
}

.search-container {
  /* background-color: #ffff88; */
  background-color: #74e77c;
  grid-column: 1 / 3;
}

#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.search-bar-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.search-bar-wrapper:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.7);
  transition: all 0.2s;
}

.magnifying-glass {
  padding: 4px;
}

.magnifying-glass:hover {
  background-color: #ffff88;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}

#search-todo {
  border: none;
}

#search-todo:hover {
  cursor: pointer;
}

#search-todo:focus {
  outline: none;
}

.side-bar-wrapper {
  display: grid;
  justify-content: center;
  align-content: start;
  background-color: #fafafa;
  /* background-color: #ebebeb; */
  padding-top: 10px;
  grid-row: 2;
  height: calc(100vh - 60px);
  grid-column: 1;
  gap: 5px;
}

.category {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
  font-weight: 700;
}

.category:hover,
.projects-wrapper:hover,
.project-wrapper:hover {
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 10px;
  transition: all 0.1s;
  cursor: pointer;
}

.all-todo-image,
.today-todo-image,
.upcoming-todo-image,
.projects-image,
.project-image {
  height: 28px;
  width: auto;
}

.projects-wrapper {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 10px;
  gap: 5px;
  font-weight: 700;
}

.active {
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

.adjustable-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

#project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-left: 45px;
  gap: 20px;
}

.expand-arrow {
  padding: 9px 12px 0px 12px;
}

.expand-arrow:hover {
  color: white;
  border-radius: 50%;
}

.projects-add {
  font-size: 22px;
  /* border: solid black; */
  padding: 5px 13px;
  border-radius: 50%;
}

.projects-add:hover {
  background-color: black;
  color: white;
}

.task-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  grid-column: 2;
}

.category-title {
  border-bottom: 1px solid black;
  text-align: center;
}

.add-task-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.add-task-wrapper:hover {
  background-color: rgb(128, 128, 128, 0.15);
  transition: all 0.2s;
}

#to-do-form {
  visibility: visible;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.todo-wrapper:hover {
  /* border: 1px solid green; */
  background-color: rgb(128, 128, 128, 0.15);
  transition: all 0.2s;
}

.todo-wrapper {
  /* border: 1px solid green; */
  background-color: #f3f3f3;
  padding: 16px;
  border-radius: 10px;
}

ul {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

label {
  font-weight: 700;
}

.priority-wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
}

#title:hover,
#description:hover,
#due-date:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.3);
  transition: all 0.2s;
  cursor: pointer;
}

.option-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.option-wrapper input {
  display: none;
}

.option-wrapper label:hover {
  cursor: pointer;
}

.option-wrapper input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.option-wrapper .option-one-label {
  color: rgb(255, 67, 67);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgb(255, 67, 67);
  border-radius: 5px;
  transition: all 0.2s;
}

.option-wrapper input:checked + .option-one-label,
.option-wrapper input:hover + .option-one-label {
  background-color: rgb(255, 67, 67);
  color: white;
  box-shadow: none;
}

.option-wrapper .option-two-label {
  color: rgb(255, 188, 62);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgb(255, 188, 62);
  border-radius: 5px;
  transition: all 0.2s;
}

.option-wrapper input:checked + .option-two-label,
.option-wrapper input:hover + .option-two-label {
  background-color: rgb(255, 188, 62);
  color: white;
  box-shadow: none;
}

.option-wrapper .option-three-label {
  color: rgb(61, 131, 61);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgb(61, 131, 61);
  border-radius: 5px;
  transition: all 0.2s;
}

.option-wrapper input:checked + .option-three-label,
.option-wrapper input:hover + .option-three-label {
  background-color: rgb(61, 131, 61);
  color: white;
  box-shadow: none;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#add-todo {
  border: 1px solid blue;
  font-size: 16px;
  padding: 8px 200px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
  color: blue;
}

#add-todo:hover {
  background-color: blue;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

#cancel-todo {
  border: 1px solid salmon;
  font-size: 16px;
  padding: 8px 200px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
  color: salmon;
}

#cancel-todo:hover {
  background-color: salmon;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}
